<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232018243051-dg26gor3h1a6jo7ph5cfrj2hp9tamtlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232018243051-dg26gor3h1a6jo7ph5cfrj2hp9tamtlg</string>
	<key>API_KEY</key>
	<string>AIzaSyDSR1hdmN1Mu-rpSZfeQjxvEB-pvqbGQC0</string>
	<key>GCM_SENDER_ID</key>
	<string>232018243051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorcuc.MORT</string>
	<key>PROJECT_ID</key>
	<string>mort-6c52b</string>
	<key>STORAGE_BUCKET</key>
	<string>mort-6c52b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232018243051:ios:a12e92e22457c8dda63dae</string>
</dict>
</plist>